<!DOCTYPE html>
<html>
 <header>
 <title>Welcome</title>
 </header>
<body>
 <h1>Welcome to Bible Study!</h1>
<form action = '/users' method='Post'>
 <ul>
  <li>
   <p> The purpose of this site is to help any and all new christians, born again Christians, and just Christians in general finding their way back home to the lord. This site was made to help you learn how to interpret the bible, gain a better understanding of christ and his deciples, pray better and just realize how much favor we have over our lives. since my conversion to christianity ive struggle with reading the bible and gaining that ubreakable bond with the lord. I hope this will help you like it has helped me understand my purpose in this world and Gods message. </p>
   <p> I pray that this app will bring you a sense of understanding, hope and a better bond with our Lord and Savior, I pray you will use what youve learned for good and preach the gospel but most importantly i pray this brings you peace knowing God loves you so much</p>
    <h3> Please Login </h3>
    <label for="name">User Name:</label>
    <input type= "text" id="name" name="user_name">
  </li>
  <li>
   <label for="password">Password:</label>
   <input type="text" id="paswword" name="password">
   <input type="submit" value="Submit">
 </li>
 <li>

    <label for="create_account">New user:</label>
    <input type="button" onclick="alert('viewpage')" value="Click here">
 </ul>
</form>
</body>
</html>