<!DOCTYPE html>
<html>

<body>
 <h1>welcome back!</h1>
  <p> (remember this journey is not going to be easy but just take it day by day!)</p>
   <form action = '/login' method='Post'>
    <br>
      <h5> Login below  </h5>
    <br>
     <div class="input-field">
      <label for="username">User Name:</label>
      <input type= "text" id="username" name="username" required>
       </div>
        <div class="input-field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      <button type="submit" class="btn waves-effect waves-light">Login<i class="material-icons right"></i>
     </button>
     </div>
  </form>
 </body>
</html>
