<!DOCTYPE html>
<html>
 <header>
 <title>Welcome</title>
 </header>
<body>
 <h1>Welcome to Bible Study!</h1>
<form action = '/' method='Post'>
 <ul>
  <li>
   
   
    <h3> Please Login </h3>
    <label for="name">User Name:</label>
    <input type= "text" id="name" name="user_name">
  </li>
  <li>
   <label for="password">Password:</label>
   <input type="text" id="paswword" name="password">
   <input type="submit" value="Submit">
 </li>
 <li>

  
 </ul>
</form>
</body>
</html>
