<!DOCTYPE html>
<html>
 
 

<div style="padding: 15px; margin-top: 25px; margin-bottom: 40px">
 <body>
  <h1>Hi <%=current_user.first_name.upcase%> !</h1>
   <p>   This is your personal home page, if you take a look at the top right you have the options to read your bible look and look at your journal entries. so heres something cool we did to help you on your new journey whenever your reading a particular verse from a chapter if it resignates with you and you want to create a journal entry just click on the verse and it will automatically direct you to a brand new journal entry featuring the book,chapter,verse and verse number!</p>
 </body>
</html>
