<h1>New User</h1>


<!DOCTYPE html>

<title> New User </title>
</head>
<html>
<body>
  <form action="/signup" method="POST">
 <div class="input-field">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" id="first_name" required><br>
  </div>
  <br>
  <div class="input-field">
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" id="last_name" required><br>
  </div>
   <br>
   <div class="input-field">
   <label for="username">User Name:</label>
   <input type="text" name="username" id="username" required><br>
  </div>
  <br>
  <div class="input-field">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required><br>
  </div>
  <br>
 
 <button type="submit" class="btn waves-effect waves-light">Create Account<i class="material-icons right"></i>
</button>
 </body>
<html>