<h2>Matthew</h2>
<h3>------------</h3>
<h3>Chapter one, verse one through twenty-five</h3>
<br>
<h4>Title: The Genealogy of Jesus Christ</h4>

<p> 1.The book of the genealogy of Jesus Christ, the Son of David, the Son of Abraham:</p>
<p>2.Abraham begot Isaac, Isaac begot Jacob, and Jacob begot Judah and his brothers. </p>
<p>3.Judah begot Perez and Zerah by Tamar, Perez begot Hezron, and Hezron begot Ram. </p>
<p>4.Ram begot Amminadab, Amminadab begot Nahshon, and Nahshon begot Salmon. </p>
<p>5.Salmon begot Boaz by Rahab, Boaz begot Obed by Ruth, Obed begot Jesse, </p>
<p>6.and Jesse begot David the king.David the king begot Solomon by her who had been the wife of Uriah. </p>
<p>7.Solomon begot Rehoboam, Rehoboam begot Abijah, and Abijah begot Asa. </p>
<p>8.Asa begot Jehoshaphat, Jehoshaphat begot Joram, and Joram begot Uzziah. </p>
<p>9.Uzziah begot Jotham, Jotham begot Ahaz, and Ahaz begot Hezekiah. </p>
<p>10.Hezekiah begot Manasseh, Manasseh begot Amon, and Amon begot Josiah.</p> 
<p>11.Josiah begot Jeconiah and his brothers about the time they were carried away to Babylon.</p>
<p>12.And after they were brought to Babylon, Jeconiah begot Shealtiel, and Shealtiel begot Zerubbabel. </p>
<p>13.Zerubbabel begot Abiud, Abiud begot Eliakim, and Eliakim begot Azor. </p>
<p>14.Azor begot Zadok, Zadok begot Achim, and Achim begot Eliud. </p>
<p>15.Eliud begot Eleazar, Eleazar begot Matthan, and Matthan begot Jacob.</p> 
<p>16.And Jacob begot Joseph the husband of Mary, of whom was born Jesus who is called Christ.</p>
<p>17.So all the generations from Abraham to David are fourteen generations, from David until the captivity in Babylon are fourteen generations, and from the captivity in Babylon until the Christ are fourteen generations.Christ Born of Mary</p>
<p>18.Now the birth of Jesus Christ was as follows: After His mother Mary was betrothed to Joseph, before they came together, she was found with child of the Holy Spirit. </p>
<p>19.Then Joseph her husband, being a just man, and not wanting to make her a public example, was minded to put her away secretly. 
<p>20.But while he thought about these things, behold, an angel of the Lord appeared to him in a dream, saying, “Joseph, son of David, do not be afraid to take to you Mary your wife, for that which is conceived in her is of the Holy Spirit. </p>
<p>21.And she will bring forth a Son, and you shall call His name Jesus, for He will save His people from their sins.”</p>
<p>22.So all this was done that it might be fulfilled which was spoken by the Lord through the prophet, saying: </p>
<p>23.“Behold, the virgin shall be with child, and bear a Son, and they shall call His name Immanuel,” which is translated, “God with us.”</p>
<p>24.Then Joseph, being aroused from sleep, did as the angel of the Lord commanded him and took to him his wife, </p>
<p>25.and did not know her till she had brought forth her firstborn Son. And he called His name Jesus.)</p>



<body>
<a href="/prayers/index">
   <input type="button" value="create prayer" />
</a>
<a href="/interpretations/index">
   <input type="button" value="write interpretations" />
  </body>
  </div>