
<!DOCTYPE html>
<html>
 <header>
 <h2>Select the book you would like to learn</h2>
 </header>
<body>

 <h4>The Old Testament</h4>
 <h5> Genesis</h5> 
 <h5>Exodus</h5>
<h5>Leviticus</h5>
<h5>Numbers</h5>
<h5>Deuteronomy</h5>
<h5>Joshua</h5>
<h5>Judges</h5>
<h5>Ruth</h5>
<h5>1 Samuel</h5>
<h5>2 Samuel</h5>
<h5>1 Kings</h5>
<h5>2 Kings</h5>
<h5>1 Chronicles</h5>
<h5>2 Chronicles</h5>
<h5>Ezra</h5>
<h5>Nehemiah</h5>
<h5>Esther</h5>
<h5>Job</h5>
<h5>Psalms</h5>
<h5>Proverbs</h5>
<h5>Song of Songs</h5>
<h5>Isaiah</h5>
<h5>Jeremiah</h5>
<h5>Lamentations</h5>
<h5>Ezekial</h5>
<h5>Daniel</h5>
<h5>Hosea</h5>
<h5>Joel</h5>
<h5>Amos</h5>
<h5>Obadiah</h5>
<h5>Jonah</h5>
<h5>Micah</h5>
<h5>Nahum</h5>
<h5>Habakkuk</h5>
<h5>Zephaniah</h5>
<h5>Haggal</h5>
<h5>Zechariah</h5>
<h5>Malachi</h5>

<h4>The New Testament</h4>
<h5><a href="/verses/matthew">Matthew</a></h5>
<h5>Mark</h5>
<h5>Luke</h5>
<h5>John</h5>
<h5>Acts</h5>
<h5>Romans</h5>
<h5>1 Corinthians</h5>
<h5>2 Corinthians</h5>
<h5>Galatians</h5>
<h5>Phillipians</h5>
<h5>Colossians</h5>
<h5>1 Thessalonians</h5>
<h5>2 Thessalonians</h5>
<h5>1 Timothy</h5>
<h5>2 Timothy</h5>
<h5>Titus</h5>
<h5>Philemon</h5>
<h5>Hebrews</h5>
<h5>James</h5>
<h5>1 Peter</h5>
<h5>2 Peters</h5>
<h5>1 John</h5>
<h5>3 John</h5>
<h5>3 John</h5>
<h5>Jude</h5>
<h5>Revelation</h5>








<p></p>
 <ul>
  <li>
   <br>
   <br>
    
     </ul>
</form>
</body>
</html>