<h1>This is the list of all prayers user submitted.</h1>
<% @prayers.each do |prayer| %>
<p>Date: <%= prayer.date %></p>
<p>Book Name: <%= verse.book_name%>/p>
<p>Chapter Number: <%= verse.chapter_number%>/p>
<p>Verse Number: <%= verse.verse_number%>/p>

<%end%>


 