<h1>Insert the form to edit an instance of your model here.</h1>
<form action="/journals/<%= @journal.id%>" method="POST">
 <input id="hidden" type="hidden" name="_method" value="patch">
 <input type="text">







</form>