<!DOCTYPE html>
<html>
 <header>
 <title>Welcome</title>
 </header>
<body>
 <h1>THE</h1>
 <h1>BIBLE</h1>
 <h1>STUDY</h1>
<form action = '/' method='Post'>
 <ul>
  <li>
   <p>Welcome to the bible study! The purpose of this page is to help you learn, read, memorize, and integrate the bible into your everyday lifestyle. If your anything like me building that relationship with christ was something I always yearned for and just like any relationship you have to work through the good and the bad. one thing we know for sure is that the more time and effort you invest in these relations the better the relationship! The Bible Study is here to help you do that! lucky for us God already provided us with a manual we are just here to help you navigate through it!</p>
   <br>
   <br>
   <p>Before you navigate gate to the menu bar lets say a quick prayer!</P>
   <P>Dear Lord, </P>
   <P>	thank you. thank you for having faith in us during the times we lacked faith, thank you for watching over us and sending Jesus and your prophets to preach the gospel. thank you for never giving up on us even when we disappoint you, Lord I pray that this site will help me restore and build my connection with you, I pray for consistency, I pray for understanding and I pray for growth during this journey. we love you so much, Lord.</P>
   <P>In Jesus name, we pray,</P>
   <P>AMEN!</P>

    


  </ul>
</form>
</body>
</html>
